.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: snow;
    height: 20px;
    width: 60px;
    margin: 20px;
}

.Button:hover {
    background: red;
    color: blue;
    cursor: pointer;
}